body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

.header-container { 
    display: flex;
    width: 100%;
background-color: #120323; 
flex-flow: row wrap;

}

h1 {
    justify-content: center; 
    align-items: center;  
    color: #97bf04;
}

#container {
    display: flex;
    gap: 20px; 
    padding: 20px;
    width: 100%;
    flex-flow: row wrap;

}

figure {
    display: flex; 
    gap: 20px; 
    flex-flow: row wrap;
    align-items: center; 
    text-align: center;
}

figcaption {
    flex: 2; 
    width: 100%;
    text-align: center; 
}

.puffin { 
    width: 100px; 
    height: auto; 
    border: 5px solid #d9043d;
    flex: 1; 
    max-width: 300px; 
}

.puffin, figcaption {
    width: 100%;
    text-align: center; 
}

h2 {
    color: #120323;
}

aside {
    display: flex; 
    background-color: #97bf04;
    flex-flow: row wrap; 
}

footer {
    display: flex;
    background-color: #d9043d;
}

small {
    color: aliceblue;
}

.puffin, figcaption, aside {
    width: 100%; 
    text-align: center;
}
